{{ $images := .Params }}
{{/*  code source: https://getbootstrap.com/docs/4.0/components/carousel/  */}}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    {{ range $index, $_ := $images }}
      <li data-target="#carouselExampleIndicators" data-slide-to="{{ $index }}"{{ if eq $index 0 }} class="active"{{ end }}></li>
    {{ end }}
  </ol>
  <div class="carousel-inner">
    {{ range $index, $element := $images }}
      <div class="carousel-item{{ if eq $index 0 }} active{{ end }}">
        <img class="d-block w-100" src="{{ $element }}" alt="">
      </div>
    {{ end }}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
