<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          <ul>
            {{ if .Site.Data.contact.phone }}
            <li><strong>Phone: </strong>{{ .Site.Data.contact.phone }}</li>
            {{ end }}
            {{ if .Site.Data.contact.email }}
            <li><strong>Email: </strong>{{ .Site.Data.contact.email }}</li>
              {{ end }}
          </ul>
          <ul>
            <li class="kirisakow">Made and hosted by <a target="_blank" href="https://github.com/kirisakow">kirisakow</a> (Kiril Isakov)
            <br/>
            Theme base by <a target="_blank" href="https://github.com/zerostaticthemes/">zerostatic</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>