{{ define "header_css" }}{{ end }} {{ define "body_classes" }}{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}

<div class="container pt-13 pb-6">
  <div class="row">
    <div class="col-12">
      <h1 class="title-1 black">{{ .Title }}</h1>
      {{ .Content }}
    </div>
  </div>
</div>

<div class="container pb-6">
  <div class="row">
    {{ range.Pages }}
    <div class="col-12 col-md-6 mb-2 ">{{.Content}}</div>
    {{ end }}
  </div>
</div>

{{ end }}