{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="container pt-13">
  <div class="row">
    <div class="col-12 col-md-9">
      <h1>{{.Title}}</h1>
      {{ if .Date }}{{ dateFormat "Monday, Jan 2, 2006" .Date }}{{ end }}
      {{ if .Params.author}}Author: {{.Params.Author}}{{ end }}
      <div class="content">
        {{.Content}}
      </div>
    </div>
  </div>
</div>
{{ end }}